*.scrollBar: false
*.faceName: Hack:style=Regular:size=18:antialias=yes
*.background: black
*.foreground: grey

!! urxvt
! fonts
URxvt.font: xft:Hack:style=Regular:size=16:antialias=yes
URxvt.boldFont: xft:Hack:style=Bold:size=16:antialias=yes
URxvt.italicFont: xft:Hack:style=Italic:size=16:antialias=yes
URxvt.boldItalicFont: xft:Hack:style=Bold Italic:size=16:antialias=yes

! basic settings
URxvt.letterspace: 0
URxvt.lineSpace: 0
URxvt.internalborder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URvxt.saveline: 2048
URxvt.urgentOnBell: true
URxvt.depth: 32
!URxvt.geometry: 20x500+0+0

! perls
! most of this is replaced by tmux, but is still here as a fallback
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs:true
URxvt.urlButton: 1
URxvt.background: [85]black
