*.scrollBar: false
*.faceName: Liga SFMono Nerd Font:size=20

!! urxvt
! fonts
URxvt.font: xft:Liga SFMono Nerd Font:style=Regular:size=18:antialias=yes
URxvt.boldFont: xft:Liga SFMono Nerd Font:style=Bold:size=18:antialias=yes
URxvt.italicFont: xft:Liga SFMono Nerd Font:=Italic:size=18:antialias=yes
URxvt.boldItalicFont: xft:Liga SFMono Nerd Font:style=Bold Italic:size=18:antialias=yes

! basic settings
URxvt.letterspace: 0
URxvt.lineSpace: 0
URxvt.internalborder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URvxt.saveline: 2048
URxvt.urgentOnBell: true
URxvt.depth: 24
!URxvt.geometry: 20x500+0+0

! perls
! most of this is replaced by tmux, but is still here as a fallback
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 3
!URxvt.tabbed.tab-bg: 0
URxvt.urlLauncher: firefox
URxvt.underlineURLs:true
URxvt.urlButton: 1

! special 
*.foreground:   #868690
*.background:   #0f1014
*.cursorColor:  #7c829d

! black 
*.color0:       #131317
*.color8:       #575861

! red 
*.color1:       #999eb2
*.color9:       #999eb2

! green 
*.color2:       #626983
*.color10:      #626983

! yellow 
*.color3:       #d3d5de
*.color11:      #d3d5de

! blue 
*.color4:       #7c829d
*.color12:      #7c829d

! magenta 
*.color5:       #e2e4ed
*.color13:      #e2e4ed

! cyan 
*.color6:       #b6bac8
*.color14:      #b6bac8

! white 
*.color7:       #868690
*.color15:      #868690
